* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: #000;
}
h3 {
    font-size: 13px;
}
img {
    object-fit: cover;
}
.max-width {
   max-width: 1440px;
   margin: auto;
}

/* Header du site*/

.site-header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 40px;
}
.site-header .a-img-logo {
    height: 71px;
    padding-left: 23px;
}
.site-header-nav {
    display: flex;
    align-items: center;
}
.site-header-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 0px ;
}
.site-header-nav li {
    list-style: none;
}
.site-header .logo {
    width: 100%;
    height: 100%;
}
.site-header-nav a {
    text-decoration: none;
    color: #000;
    padding-left: 40px;
    padding-right: 40px;
}
.site-header-nav a:hover {
    border-top: 3px solid #0065FC;
    padding-top: 45px;
    color: #0065FC;
}

.titles h1{
    font-size: 1.5rem;
}

/*Formulaire et filtres de recherche*/

.search {
    display: flex;
    width: 95%;
}
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.text-input {
    border: 1px solid #F2F2F2;
    width: 250px;
}
.text-input input {
    height: 50px;
    width: 100%;
    border: none;
}
.text-input input{
    color: #000;
    padding-left: 10px;
    font-weight: bold;
}
.search-button button {
    border: none;
    background-color: transparent;
}
.search-button button .desktop {
    display: block;
    height: 50px;
    background: #0065FC;
    color: #fff;
    border: none;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    padding: 19px;
    top: 1px;
    position: absolute;
    left: 245px;
}
.search form {
    display: flex;
    position: relative;
}

.search-button .mobile {
    display: none;
}
.filters {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-weight: 900;
    width: 95%;
    margin-right: auto;
}
.filters-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 90%;
    gap: 20px;
}
.filters-title {
    width: 10%;
}
.filter-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding-right: 10px;
    cursor: pointer;
    height: 45px;
}
.filter-element:hover {
    color: #fff;
    background-color: #0065FC;
}
.filter-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    padding: 15px;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin-right: 5px;
    margin-left: -5px;
}

.filter-element-title {
   padding-right: 10px;
   padding-left: 10px;
}
.infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.infos-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: -1px;
}

/*Section hébergément*/

.search-results-hebergements {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.hebergements-title {
    width: 94%;
    padding-left: 27px;
}
.hebergements, .populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergements-item-rating .gray-star, .populaires-item-rating .gray-star {
    color: #F2F2F2;
}
.hebergements-item-rating, .populaires-item-rating {
    color: #0065FC;
}
.hebergements-item-image img {
    width: 100%;
    position: relative;
    left: -2px;
    height: 100%;
    min-height: 114px;
}



.hebergements-item-image {
    overflow: hidden;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

.hebergements-item-rating {
    margin-top: 15px;
}
.hebergements {
    margin-right: 40px;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 20px;
}
.search-hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 480px;
   
}
.hebergements-item {
    display: block;
    background-color: #fff;
    width: 28%;
    /*height: 195px;*/
    padding: 5px;
    border-radius: 20px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    margin-bottom: 35px;
}
.hebergements-item:hover, .populaires-item:hover, .activites-large-item:hover, .activites-item:hover, .search-button .desktop:hover {
    background-color: rgb(222, 235, 255);
}
.search-button .desktop:hover {
    color: #0065FC;
}
.hebergements-item-price span, .populaires-item-price span{
    font-weight: bold;
}
.hebergements-item-title, .hebergements-item-price, .hebergements-item-rating {
    margin-left: 5px;
    font-size: 13px;
}
.hebergements-item-title h3 {
    font-size: 13px;
    margin-bottom: 0;
}
.hebergements-item-price p {
    margin-top: 3px;
    margin-bottom: 3px;
}
.hebergements .show-more {
    margin-top: 40px;
    font-size: 15px;
}
.show-more h4 {
    padding-left: 15px;
}
/* Section les plus populaires*/

.search-populaires {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
}
.populaires-item {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 155px;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-bottom: 3px;
    margin-top: 15px;
}
.populaires-star {
    position: relative;
    right: 1px;
}
.populaires-item-image {
    width: 150px;
    height: 145px;
}
.populaires-item-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
.populaires {
    padding: 15px 30px 30px 50px;
    flex: 1;
}

.populaires-item-infos {
    padding-left: 15px;
    padding-right: 2px;
    width: 125px;
}
.populaires-item-rating {
    font-size: 13px;
    margin-top: 40px;
}
.au-coeur-de-l-eau-item-rating {
    margin-top: 55px;
}
.populaires-item-price {
    font-size: 13px;
}

/* Section activités*/

.search-results-activites {
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-bottom: 150px;
    margin-top: 50px;
}
.activites {
    width: 100%;
    height: 500px;
}
.activites-title {
    margin-bottom: 25px;
}
.search-activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;
}
.activites-item-title {
    padding-left: 10px;
    padding-top: 20px;
    text-align: justify;
    height: 60px;
}
.activites-item-title h3 {
    margin: 0px;
}
.activites-large-item {
    display: block;
    background-color: #fff;
    width: 23%;
    border-radius: 20px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.activites-large-item, .activites-item {
    margin-left: 0px;
    margin-right: 0px;
    height: 80%;
}
.activites-2-items {
    margin-right: 0px;
    width: 23%;
    height: 80%;
    
}
.activites-item {
    display: block;
    background-color: #fff;
    height: auto;
    border-radius: 20px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.activites-item-image {
    height: calc(100% - 60px);
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.top-item {
    margin-bottom: 45px;
    height: calc(60% - 45px);
}

.activites-item img, .activites-small-item img {
    width: 100%;
    position: relative;
    top: -10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.top-item img {
    position: relative;
    top: -135px;
}
.activites-large-item-image {
    height: calc(100% - 60px);
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-large-item-image img{
    position: relative;
    left: -128px;
    height: 100%;
}
.activites-small-item {
    height: 40%;
}
.iles-du-frioul {
    height: calc(100% - 60px);
    overflow: hidden;
}
.iles-du-frioul img {
    position: relative;
    top: -9px;
}
.notre-dame-item {
   
    height: 45%;
}
.notre-dame-de-la-garde img {
    position: relative;
    top: 3px;
}
.parc-longchamp {
    height: calc(55% - 45px);
}

/*Footer*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    
}
.footer li {
    list-style-type: none;
    padding: 10px;;
}
footer {
    background-color: #F2F2F2;
}
footer a:hover, .show-more a:hover {
    color: #0065FC;
}
footer h3 {
    font-size: 14px;
}
.a-propos, .nos-hebergements, .assistance {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.a-propos a, .nos-hebergements a, .assistance a {
    margin-bottom: 10px;
    font-size: 14px;
}
.a-propos h3, .nos-hebergements h3, .assistance h3 {
    padding-left: 0px;
    margin-bottom: -5px;
}
.a-propos ul, .nos-hebergements ul, .assistance ul {
    padding-left: 0px;
}

.a-propos ul li, .nos-hebergements ul li, .assistance ul li {
    padding-left: 0px;
}
.mobile-img {
    display: none;
}