body {
    padding-left: 0px;
    padding-right: 0px;
}
h3 {
    font-size: 16px;
}
.site-sub-title, .infos-text p, .site-header-nav a{
    font-weight: 500;
}
.site-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.titles {
    padding: 50px;
    padding-top: 0;
}
.search {
    padding-left: 50px;
    width: 90%;
}
.filters {
    width: 90%;
    padding-left: 50px;
}
.filters-group {
    gap: 10px;
}
.filters p {
    font-size: 13px;
}
.filter-animaux {
    width: 190px;
}
.infos {
    margin-bottom: 10px;
    padding-left: 50px;
}
.hebergements {
    margin-right: 30px;
    width: 90%;
    background-color: #fff;
    padding-left: 50px;
}
.hebergements-item {
    width: 28%;
}
.hebergements-item-title, .hebergements-item-price, .hebergements-item-rating {
    font-size: 15px;
}
.hebergements-title {
    padding-left: 25px;
}
.show-more h4 {
    padding-left: 25px;
}
.populaires {
    width: 90%;
    margin-left: 20px;
}
.populaires-item-infos {
    width: 52%;
}
.populaires-title {
    width: 92%;
}
.search-results-hebergements {
    flex-direction: column-reverse;
    width: 90%;
    padding-left: 40px;
}
.search-hebergements {
    justify-content: space-evenly;
    height: 500px;
}
.show-more {
    font-size: 20px;
}
.search-activites {
    
    justify-content: space-evenly;
    height: 1008px;
}
.search-results-activites {
    padding-left: 40px;
    margin-top: 10px;
}
.activites {
    padding: 0px;
}
.activites-title {
    width: 87%;
    margin-left: 60px;
}
.activites-large-item, .activites-2-items {
    width: 40%;
    height: 50%;
    margin-bottom: 40px;
}
.activites-item.parc-longchamp {
    height: 45%;
}
.activites-item.top-item.notre-dame-item {
    margin-bottom: 50px;
}
.notre-dame-de-la-garde img {
    top: 0px;
}
.footer {
    width: 90%;
}
footer {
    margin-top: 700px;
}
